body{
    background-color: black;
}
#parent{
    border: 10px solid white;
}
img{
    height: 49%;
    width: 49%;
}
#child1{
    width: 80%;
    margin-left: 10%;
    color: white;
}
#child2{
    width: 80%;
    margin-left: 10%;
    border: 5px solid white;
    margin-top: 20px;
    justify-content: space-between;
}
#child3{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    border: 5px solid white;
}
.j{
    color: white;
    text-align: center;
}

h3{
    margin-top: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
p{
    text-transform: capitalize;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.para{
    width: 80%;
    margin-left: 10%;
}
.fup{
    margin-bottom: 60px;
}
.pura{
    width: 100%;
}
/* @media(max-width: 767px){} */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
  /* @media (min-width:480px)  {}  */ 